<h2 mat-dialog-title>Activate account</h2>
<mat-dialog-content>
    <form [formGroup]="formActivation">
        <mat-form-field>
            <input matInput placeholder="Username" required formControlName="username">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" required formControlName="password">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="activate()" cdkFocusInitial mat-dialog-close>Activate</button>
</mat-dialog-actions>