.header{
    display: flex;
    justify-content: end;
}
  
.program-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.program-card{
    padding: 2%;
    width: calc(25% - 20px);
    margin: 10px;
}

.program-card:hover{
    background-color: rgba(217, 216, 216, 0.622);
}

.program-img{
    width: 90%;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .program-card{
        width: calc(100% - 20px);
    }
}