.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.card-user{
    width: 100%;
    max-width: 500px;
    padding: 2%;
    box-sizing: border-box;
    
}

.card-user mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-user form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.card-user mat-form-field{
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.card-user img{
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.buttons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.change-pass{
    width: 100%;
    padding-bottom: 6%;
    max-width: 350px;
    box-sizing: border-box;
}

.change-pass button{
    width: 100%;
    background-color: rgb(245, 245, 245);
}
